.headerbloc {
    display: inline-block;
    text-align:center;
    width: auto;
    height: 80px;
    line-height: 80px;
    background-color: #355665;
    position:absolute;
    top:0;
    left:0;
    right:0;
}

.logo {
    float: left;
    position: absolute;
    margin-right: 350px;
    width: 125px;
    height: 78px;
    z-index: 2;
}

.bar {
    float: none;
    margin: 0 auto;
}

.formulaire {
    display:inline-block;
}

.formulaire .champ {
    width:600px;
    height:35px;
    border-radius: 15px;
    position: relative;
    outline: 0;
    border:0 none;
    text-indent:1.5em;
}


.searchlogo {
    float: right;
    margin-left: 275px;
    margin-top: -48px;
    position: absolute;
    z-index: 2;
}

.panier {
    display:inline;
    float: right;
    margin-top: -75px;
    position: absolute;
    text-align: center;
    width: 125px;
    height: 78px;
    right:0;
    z-index: 2;
}

.nav {
    margin-top: 70px;
    background-color: #3f6677;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    height: 25px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.nav ul {
    margin-top: -1px;
}

.nav li {
    display: inline;
    color: white;
}

.nav a {
    text-decoration: none;
    padding: 20px 50px;
}

.shoppingcart {
    font-size: 35px;
    color: whitesmoke;
}

@media (max-width: 780px) {
    .nav a {
        padding: 5px 5px;
    }

    .logo {
        display: none;
    }

    .formulaire .champ {
        width:300px;
        height:35px;
    }

    .searchlogo {
        font-size: 0px;
    }

    .shoppingcart {
        font-size: 0px;
    }

}