.body {
    background: #c6dcff;
}

.logo {
    width: 100px;

}

.main {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    padding-top: 40px;
    margin: 0 0 40px 260px;
}

.bar {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #292c2f;
    width: 180px;
    height: 100%;
    padding: 20px 0;
}

.bar > a {
    display: block;
    text-decoration: none;
    font-family: Cookie, cursive;
    width: 122px;
    height: 122px;
    margin: 0 auto;
    text-align: center;
    color:  #ffffff;
    font-size: 44px;
    font-weight: normal;
    line-height: 2.6;
    border-radius: 50%;
    background-color:  #565d63;
}

.bar .bar-links {
    margin: 30px auto;
}

.bar-links div > a {
    display: block;
    text-decoration: none;
    margin: 0 auto 5px auto;
    padding: 10px 0 10px 5px;
    background-color: #35393e;
    text-align: left;
    color:  #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    border-left-width: 2px;
    border-left-style: solid;
}

.bar-links div.selected > a{
    background-color: #ffffff;
    color: #565d63;
    line-height: 2.3;
    margin: 0;
}

.bar-links div > a i.fa {
    position: relative;
    font-size: 20px;
    top: 3px;
    width: 40px;
    text-align: center;
}

.bar-links div ul.sub-links {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0 0 0 30px;
    color:  #b3bcc5;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    transition: 0.4s;
}

.bar-links div.selected ul.sub-links {
    max-height: 150px;
    padding: 12px 0 12px 30px;
}

.bar-links div .sub-links a {
    text-decoration: none;
    color: #b3bcc5;
    display: block;
    text-align: left;
}


.bar-links div.link-blue > a {
    color: #da4545;

}

.bar-links div.link-blue > a i.fa {
    color: #da4545;
}

.bar-links div.link-red > a {
    border-color: #da4545;
}

.bar-links div.link-red > a i.fa {
    color: #da4545;
}

.bar-links div.link-yellow > a {
    border-color: #d0d237;
}

.bar-links div.link-yellow > a i.fa {
    color: #d0d237;
}

.bar-links div.link-green > a {
    border-color: #86be2e;
}

.bar-links div.link-green > a i.fa {
    color: #86be2e;
}

.projadmin {
    text-align: center;
    height: 100%;
    box-shadow:0 1px 1px #ccc;
    background-image: linear-gradient(to bottom right, #375484, #5584d1);
    overflow: hidden;
}

.projadmin h2 {
    color: white;
    text-align: left;
    margin-left: 200px;
    font-family: Cookie, cursive;
    font-size: 35px;
}

.projadmin p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.projadmin label {
    text-align: right;
}

@media (max-width: 900px) {

    .main{
        max-width: none;
        padding: 70px 20px;
        margin: 0 0 40px;
    }

    .bar {
        width: auto;
        height: auto;
        position: static;
        padding: 20px 0 0;
    }

    .bar .bar-links {
        text-align: center;
        margin: 20px auto 0;
    }

    .bar-links div {
        display: inline-block;
        width: 100px;
    }

    .bar-links div > a {
        text-align: center;
        margin: 0;
        padding: 10px 0;
        border-left: none;
        border-top-width: 2px;
        border-top-style: solid;
    }

    .bar-links div > a i.fa {
        display: block;
        margin: 0 auto 5px;
    }

    .bar-links div ul.sub-links {
        display: none;
    }

    .bar-links div.selected .sub-links {
        display: block;
        position: absolute;
        text-align: center;
        width: auto;
        left: 0;
        right: 0;
    }

    .bar-links div.selected .sub-links li {
        display: inline-block;
    }

    .bar-links div.selected .sub-links a {
        display: inline-block;
        margin-right: 20px;
        font-size: 13px;
        color: #748290;
    }

}

@media (max-width: 450px) {

    .main{
        padding: 90px 20px;
    }

    .bar {
        padding: 20px 0;
    }

    .bar .sidebar-links {
        text-align: center;
        margin: 20px auto 0;
        position: relative;
    }

    .bar-links div {
        display: block;
        width: 240px;
        margin: 0 auto 5px;
    }

    .bar-links div > a {
        text-align: left;
        padding: 10px 25px;
        vertical-align: middle;
        border-top: none;
        border-left-width: 2px;
        border-left-style: solid;
    }

    .bar-links div > a i.fa {
        display: inline-block;
        font-size: 20px;
        width: 20px;
        margin: 0 20px 0 0;
    }

    .bar-links div.selected .sub-links {
        bottom: -90px;
    }

}

/*Removing margins and paddings from the body, so that
    the sidebar takes the full height of the page */

body {
    margin: 0;
    padding: 0;
}

.put {
    font-size:15px;
    height:25px;
    border: 1.3px solid darkgrey;
    text-indent: 0.5em;
    border-radius:4px;
    margin-left:10px;
}

.putdescription {
    font-size:15px;
    height:25px;
    border: 1.3px solid darkgrey;
    text-indent: 0.5em;
    border-radius:4px;
    margin-left:10px;
    width: 500px;
}

.label-file {
    cursor: pointer;
    color: grey;
    font-weight: bold;
}

.label-file:hover {
    color: #25a5c4;
}

.input-file {
    display: none;
}

.image{
    max-width:180px;
}